/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #f3f2f0;
  padding: 20px 10px;
}

* {
    box-sizing: border-box;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.logo {
  font-size: 25px;
  font-weight: bold;
 }

/* Change the background color on mouse-over */
.header a:hover {
    color: grey;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

@media all and (max-width: 500px) {
  #page-container {
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  }
}

#footer {
    background-color: #f3f2f0;
    padding-top: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#page-container {
  position: relative;
  margin-left:33%;
  margin-right:33%;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}


body {
    background-color: #f3f2f0;
    margin: 0;
    min-height: 100vh;
}

.image-box {
    position: relative;
    height: 15em;
    margin-bottom: 2em;
    padding: 3em 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #5e616c;
    background-image: url("https://wallpaperaccess.com/full/3850473.jpg");
    background-blend-mode: multiply;

}

.image-box .item > img {
    top: 50px;
}

p {
    color: black;
    padding: 20px;
    display: block;
}

p a {
    text-decoration: none;
    color: #305ca9;
}

#logo {
    max-height: 30px;
    display: block;
    -webkit-filter: greyscale(100%);
    -webkit-transition: .5s ease-in-out;
    -moz-filter: greyscale(100%);
    -moz-transition: .5s ease-in-out;
    -o-filter: greyscale(100%);
    -o-transition: .5s ease-in-out;
}

#logo:hover {
    -webkit-filter: drop-shadow(0 0 0.75rem blue);
    -webkit-transition: .5s ease-in-out;
    -moz-filter: drop-shadow(0 0 0.75rem blue);;
    -moz-transition: .5s ease-in-out;
    -o-filter: drop-shadow(0 0 0.75rem blue);;
    -o-transition: .5s ease-in-out;
}