/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #f3f2f0;
  padding: 20px 10px;
}

.logo-sub {
    font-size: 35px;
    letter-spacing: 0.3rem;
}

* {
    box-sizing: border-box;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  padding-left: 0;
  padding-bottom: 12px;
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  margin:0;
}

.logo h1 {
    margin: 0;
    padding: 0;
}

/* Style the header links */
.header-right a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  font-weight: bold;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

.header-right a:hover {
    background: grey;
    color: white;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 750px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .logo-hover {
    padding-bottom: 25px;
    align: center;
  }
  #page-container {
    margin-inline: auto;
    margin-right: 5%;
    margin-left: 5%;
    min-width: 345px;
  }
  .header-right {
    float: left;
  }
  .header {
  }
  p {
    padding: 10px 0 10px 10px !important;
  }
  h1 {
    padding: 0;
    font-size: 1.2em !important;
    letter-spacing: 0;
  }
}

@media screen and (min-width: 751px) {
  #page-container {
    min-width: 600px;
  }
}

#footer {
    background-color: #f3f2f0;
    padding-top: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#page-container {
    position: relative;
    width: 40%;
    margin-inline: auto;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
  width 80%;
  margin 0 auto;
  padding 0 20px;
}


body {
    background-color: #f3f2f0;
    margin-inline: auto;
    font-family: "Source Sans Pro",sans-serif;
}

.image-box {
    height: 20em;
    margin-bottom: 2em;
    padding: 3em 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #5e616c;
    background-image: url("assets/home_image.png");
    background-blend-mode: overlay;
    margin-left: 10px;

}

.image-box .item > img {
    top: 50px;
}

p {
    color: black;
    padding-left: 10px;
    display: block;
    font-size: 1em;
    font: inherit;
}

.misc-links {
    text-decoration: none;
    color: #305ca9 !important;
}

#logo {
    max-height: 30px;
    display: block;
}

.logo:hover {
    color: #305ca9;
    -webkit-transition: all .2s ease-in;
    /*
    -webkit-filter: drop-shadow(0 0 0.75rem blue);
    -webkit-transition: .2s ease-in-out;
    -moz-filter: drop-shadow(0 0 0.75rem blue);;
    -moz-transition: .2s ease-in-out;
    -o-filter: drop-shadow(0 0 0.75rem blue);;
    -o-transition: .2s ease-in-out;
    */
}

h1 .name-title{
    line-height: 1em;
    letter-spacing: 0.2em;
    padding: 20px;
    font-weight: 900 !important;
}

h1 {
    padding-bottom: 0;
    margin-bottom: none;
    font-size: 22px;
    font-weight: bold;
    padding-left: 10px;
    margin-top: 20px;
}

.button-55 {
  align-self: auto;
  display: block;
  background-color: #f3f2f0;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;
  margin-inline: auto;
  text-align: center;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.misc-links:hover {
  box-shadow: inset 1000px 110px 0 0 #305ca9;
  color: white !important;
}

h3 {
    margin-left: 10px;
}

.h3-header {
    margin-left: 10px;
}

.list-links {
    margin-left: 10px;
    font-weight: bold;
    font-size: 1.1em;
    color: black;
    line-height: 21px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.author-list {
    font-size: 14px;
    margin-left: 10px;
    display: block;
}

.figure-preview {
    width: 297px;
    height: 297px;
    text-align: center;
    display: inline-block;
    margin-inline: auto;
    line-height: 22px;
}

figcaption span {
    font-weight: bold;
}

.figure-links {
    color: black;
    text-decoration: none;
}

.figure-links:hover {
    color: #305ca9;
}

.figure-image {
    width: 280px;
    height: 280px;
    margin: 0;
}

.figure-content {
    object-fit: contain;
    width: 100%;
    margin-inline: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.content-figure {
   position: relative;
  display: inline-block;
}

.figure-caption {
    font-size: 0.8em;
    margin-left: 20px;
    position: absolute;
    top: 0;
    right: -220px; /* adjust this value to your liking */
    width: 200px;
    padding: 10px;
}

.wakefield-map {
    object-fit: contain;
    width: 600px;
    margin-inline: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.course-link {
    text-decoration: none;
    color: black;
    border-bottom: 20px;
}

.course-link:hover {
    color: #305ca9;
    -webkit-transition: all .2s ease-in;
}

    .logo-hover {
      position: relative;
      width: 55px; /* adjust size as needed */
      height: auto;
    }

    .logo-hover img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      transition: opacity 0.3s ease-in-out;
    }

    .logo-hover .blue-logo {
      opacity: 0;
      z-index: 1;
    }

    .logo-hover .black-logo {
      opacity: 1;
      z-index: 2;
    }

    .logo-hover:hover .blue-logo {
      opacity: 1;
    }

    .logo-hover:hover .black-logo {
      opacity: 0;
    }
